/* frontpage.css - CSS for my front page, vaguely related to the W3C
   core style shee. */

h2, h3, h4, h5, h6, th, dt	{ font-family:	Arial, Helvetica, sans-serif; }
H1	{ font-family: Arial Black, Helvetica Black, sans-serif; }




P, DIV, UL, DL, DT, DD, PRE, OL, LI, BLOCKQUOTE, ADDRESS	{
	color: black;
	}

LI {
	font-weight:	bold;
        padding: 6px 0px 0px 0px; 

}

LI LI {
	font-weight:	normal;
        padding: 0px 0px 0px 0px; 
}

A, ADDRESS, BLOCKQUOTE, BODY, CITE, CODE, DD, DEL, DFN,		
DIV, DL, DT, EM, FORM, H1, H2, H3, H4, H5, H6, IFRAME, IMG, KBD,		
LI, OBJECT, OL, P, Q, SAMP, SMALL, SPAN, STRONG, SUB, SUP, UL, VAR, 		
APPLET, BIG, CENTER, DIR, FONT, HR, MENU, PRE,		
ABBR, ACRONYM, BDO, BUTTON, FIELDSET, INS, LABEL	{	
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	text-decoration:	none;
	border-color:	black;
	border-style:	none;
	}	
		
BODY	{	
	color:	black;
	background:	white;
	}	
		
EM	{	
	font-style:	normal;
	font-weight:	bold;
	color:	black;
	background:	white;
	}	
		
STRONG	{	
	font-style:	italic;
	background:	white;
	font-weight:	bold;
	color:	black;
	}	
		
EM STRONG, STRONG EM	{	
	text-transform:	uppercase;
	font-style:	normal;
	font-weight:	bolder;
	background:	white;
	color:	red;
	}	
		
B	{
	font-weight:	bold;
	}
	
I	{
	font-style:	italic;
	}
		
.warning	{	
	text-transform:	none;
	font-style:	normal;
	font-weight:	bolder;
	background:	white;
	color:	red;
	}	
		
DEL	{	
	text-decoration:	line-through;
	background:	#F66;
	}	
		
INS	{	
	text-decoration:	underline;
	background:	yellow;
	}	
		
VAR, CITE, DFN, .note	{	
	font-style:	italic;
	}	
		
ADDRESS	{	
	font-style:	normal;
	letter-spacing:	.1em;
	}	
		
ACRONYM	{	
	font-variant:	small-caps;
	letter-spacing:	0.1em;
	}	
		
H1, H2, H3, H4, H5, H6, DT, TH, THEAD, TFOOT	{	
	color:	black;
	background:	white;
	}	
		
HR	{	
	color:	black;
	}	
		
#colophon	{	
	display:	none;
	}	
		
COL, COLGROUP, TABLE, TBODY, TD, TR	{	
	color:	black;
	text-decoration:	none;
	border-color:	black;
	border-style:	none;
	background:	white;
	}	
		
A:link	{	
	text-decoration:	none;
	color:	#00C;
	background:	#FFC;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#00F;
	background:	#FFC;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#F00;
	background:	#FC0;
	}	
		
A:hover	{	
	text-decoration:	none;
	color:	#C00;
	background:	#FC0;
	}	
		
A.offsite	{	
	text-decoration:	none;
	font-weight:	normal;
	color:	#C00;
	background:	#FFC;
	}	
		


	/* begin body box */	/* 4 - 'twenty-fourths symmetric' */

BODY	{
	margin-top:	1.58em;
	margin-left:	4%;
	margin-right:	2%;
	margin-bottom:	1.58em;
	padding-top:	0;
	padding-left:	0;
	padding-right:	0;
	padding-bottom:	0;
	border-top:	0;
	border-left:	0;
	border-bottom:	0;
	border-right:	0;
	width:	auto;
	}
	/* end body box */

