/****
 * CSS for the IF Transcript Beautifier main page (http://www.nitku.net/if/beautifier/)
 ****
 * Created 2007/08/26 by Juhana Leinonen.
 * Modified 2008/01/01
 * 
 * This file has been released to Public Domain by its author.
 ****/


body {
	margin-top:0; 
	background-color:#226a6d;
	padding-top:0;
}

fieldset {
	margin-top:1em;
	background:white;
}

input {
	padding-left:0.5em;
}

a {
	text-decoration:none;
}

legend {
	font-weight:bold;
	background-color:yellow;
	border:1px solid gray;
	padding:4px;
}

#about {
	background-color:#eee;
	padding:1em;
	margin-top:0;
	border:1px solid gray;
}

#mainmenu {
	float:right;
	margin:1em;
	padding:0.7em 1em;
	line-height:1.4;
	border:1px solid gray;
	background:#ccf;
	font-weight:bold;
}

#error {
	margin:1em 0;
	padding:1em;
	color:white;
	font-size:large;
	font-weight:bold;
	background:#933;
}

.choice {
	margin:0.5em;
}

#beautifybutton
{
	margin:1em 3em;
	border:3px solid black;
	background:#ace;
	-moz-border-radius:10px;
	padding:0.4em;
	font-weight:bold;
}

#beautifybutton:hover
{
	background:#9ac;
	cursor:pointer;
}

.help {
	margin:1em 0.5em 0.5em 0.5em;
	padding:0.5em;
	border:1px solid gray;
	background:#ffc;
	width:25em;
}

#footer {
	margin:1em;
	font-size:smaller;
	text-align:right;
}
